@import "src/styles/config";

.offer {
  position: relative;

  display: flex;

  padding: 150px 0;

  min-height: 100vh;

  flex-direction: column;
  align-items: center;
}

.offer__wrapper {
  @include container;

  position: relative;

  display: flex;

  height: 100%;

  flex-direction: column;
  align-items: center;
}

.offer__title {
  @include rf(20, 30);

  position: relative;

  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.offer__underline {
  position: absolute;
  top: 110%;
  left: 0;

  width: 100%;
  height: auto;

  &Svg {
    width: 100%;
    height: auto;
  }
}

.offer__content {
  display: flex;

  margin-top: 200px;

  width: 100%;

  flex-direction: column;
}

.offer__row {
  display: flex;

  width: 100%;

  flex-direction: column;
  align-items-content: center;

  @media (min-width: $min-desktop) {
    flex-direction: row;
  }
}

.offer__segment {
  position: relative;
  display: flex;

  padding: 100px;

  width: 100%;

  justify-content: center;
  align-items: center;

  border: solid $color-white 1px;

  @media (min-width: $min-desktop) {
    width: 50%;
  }
}

.offer__text {
  @include rf(14, 16);

  font-weight: 200;
  line-height: 1.5;
}

.offer__number {
  position: absolute;
  top: 15px;
  left: 15px;

  font-size: 30px;
  line-height: 1;
  font-weight: 200;
}
