@import "src/styles/config";

.collaboration {
  position: relative;

  display: flex;

  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
}

.collaboration__background {
  position: relative;

  height: 100vh;
}

.collaboration__background-image {
  max-height: 100%;
  max-width: 100%;
}

.collaboration__background-overlay {
  @include fit;

  background-color: $color-colaborate-overlay;
}

.collaboration__logos {
  @include fit;
  @include container;
  @include grid-col(15);

  display: flex;

  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 300;
}

.collaboration__logo {
  margin: 20px 0;

  width: 250px;

  visibility: hidden;

  @media (min-width: $min-mobile) {
    width: 350px;
  }
}
